page-panier {

}


#background {
  background-color: #222;
  margin-top: -3px;
}

#containerPizza {
  width: 95%;
  height: 70px;
  margin-left: 7px;
  background-color: #DC1E1E;
  margin-bottom: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#containerImgPizza {
  background-image: url(../../assets/imgs/nappe.jpg);
  width: 100px;
  height: 70px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#imgPizza {
  max-height: 70px;
  width: 100px;
  display: inline-block;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#namePizzaPanier {
  position: absolute;
  font-size: 20px;
  color: black;
  width: 100%;
  margin-top: -60px;
  margin-left: 120px;
}


#divPricePanier {
  position: absolute;
  font-size: 22px;
}
#btn {
  position: absolute;
  width: 50px;
  margin-left: 150px;
  margin-bottom: 30px;
}
