page-pizza {

}

#container {
  background-image: url(../../assets/imgs/flat-bg.jpg);
  width: 100%;
  height: 100%;
}

#containerImg img {
  width: 100%;
}

#containerDesc {
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

#containerIngredient {
  color: white;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

#containerPrice {
  color: green;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  font-size: 26px;
}

#icon {
  margin-left: 25px;
}
